body {background-color:rgb(148, 196, 173); 
    color:black;
    overflow-x: hidden;
    overflow-y: auto;
    width: 200vw;
   }

html{
    overflow-x: hidden;
    overflow-y: auto;
}
   
   @font-face {
       font-family: 'TTHakgyoansimMulgyeolB';
       src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMulgyeolB.woff2') format('woff2');
       font-weight: normal;
       font-style: normal;
   }
   #h1 {
   font-size: 60px;
   font-family: 'TTHakgyoansimMulgyeolB';
   }
   
   #h2 {
       font-family: 'TTHakgyoansimMulgyeolB';
       font-size: 30px;
   
   }

   #h3 {
    font-family: 'TTHakgyoansimMulgyeolB';
    font-size: 20px;
    color:white;
    display: inline-block;
    border: 2px solid white;
    padding: 2px 3px;
    border-radius: 5px;
    text-align: center;
    margin-left: 50px;
    

}

    #h4 {
        font-family: 'TTHakgyoansimMulgyeolB';
    font-size: 17px;
    color:white;
    margin-left: 50px;
    }

    #h5 {
        font-family: 'TTHakgyoansimMulgyeolB';
        font-size: 8px;
        color:rgb(8, 107, 107)

    }
   
   #buttonstyle {
       font-family: 'TTHakgyoansimMulgyeolB';
       font-size: 16px; 
   
   }
   .center-text {
    text-align: center;
   }

   .center-image {
    display: block;
            margin: 0 auto;
    width: 300px;
    height: auto;
   }

   .center-button {
    padding: 10px 20px;
    background-color: rgb(218, 160, 160);
    color:aliceblue;
    border: none;
    margin-top: 10px;
    margin-left: 20px;


   }
   
   
   @media screen and (max-width: 767px) {
       #header .product_wrap .list_product li {
           width: calx(50%)
       }
       body {
           background-size: cover;
           position: fixed;
       }
       section {
           margin-top: 20vh;
           margin-left: 10vw;
           display: inline-block;
       }
   }
   
   .img_responsive{
       width: 100%;
       height: auto;
   }
   
   #wrap {min-width: 320px}
